{% if page.banner_heading %}
<section class="banner">
    <div class="container">
        <h1><span>{{ page.banner_heading }}</span></h1>
        <p>{{ page.banner_description }}<br><span class="season-year">{{ page.season_year }}</span></p>
    </div>
    <div class="external-links">
        {% if page.title == "Home" %}
        <a href="{{ site.baseurl }}{{ site.syllabus }}" target=”_blank” class="btn fs-5 m-2"><strong style="color: $link-color;text-transform: uppercase;">Syllabus</strong></a>
        <a href="{{ site.piazza }}" target=”_blank” class="btn fs-5 m-2"><strong style="color: $link-color;text-transform: uppercase;">Piazza</strong></a>
        <a href="{{ site.gradescope }}" target=”_blank” class="btn fs-5 m-2"><strong style="color: $link-color;text-transform: uppercase;">Gradescope</strong></a>
        <a href="{{ site.moodle }}" target=”_blank” class="btn fs-5 m-2"><strong style="color: $link-color;text-transform: uppercase;">Moodle</strong></a>
        {% endif %}    
    </div>
</section>
{% endif %}
